<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="auto"
    package="pt.aptoide.backupapps"
    >


  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
  <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>

  <uses-sdk/>
  <application
      android:name=".BackupAppsApplication"
      android:icon="@mipmap/backup"
      android:label="@string/app_name"
      android:theme="@style/Aptoide.BackupApps.Theme">
    <activity
        android:name=".WelcomeActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/StyledIndicators"
        android:windowSoftInputMode="adjustPan">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name=".MainActivity"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:label="@string/app_name"
        android:launchMode="singleTask"
        android:theme="@style/StyledIndicators"
        android:windowSoftInputMode="adjustPan"/>
    <activity
        android:name=".Settings"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@style/Settings"/>
    <activity
        android:name=".SubmitForm"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:theme="@style/StyledIndicators"/>
    <activity
        android:name=".Manager"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:launchMode="singleTask"
        android:theme="@style/StyledIndicators"/>

    <receiver android:name=".InstallReceiver">
      <intent-filter>
        <action android:name="android.intent.action.PACKAGE_ADDED"/>
        <action android:name="android.intent.action.PACKAGE_REMOVED"/>

        <data android:scheme="package"/>
      </intent-filter>
    </receiver>

    <receiver android:name=".AccountRemovalWatcherReceiver">
      <intent-filter>
        <action android:name="android.accounts.LOGIN_ACCOUNTS_CHANGED"/>
      </intent-filter>
    </receiver>

    <service android:name=".MainService"/>

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>

    <meta-data
        android:name="com.facebook.sdk.ApplicationId"
        android:value="@string/facebook_app_id"/>

    <meta-data
        android:name="LOCALYTICS_APP_KEY"
        android:value="${LOCALYTICS_APP_KEY}"/>
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="${fabricApiKey}"/>
  </application>
</manifest>
